<mat-form-field appearance="outline">

    <mat-chip-grid #chipGrid aria-label="Car selection">
        <mat-chip-row
            *ngFor="let equipment of selectedEquipments"
            (removed)="remove(equipment)"
        >
            ({{ equipment.code }}) {{ equipment.description }}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
        <input
            [matAutocomplete]="auto"
            [matChipInputFor]="chipGrid"
        />
            <!-- A matChip Even of Input element, we may not need it, because we only allow adding items from options not any input : -->
            <!-- (matChipInputTokenEnd)="add($event, selectedEquipments)"-->

    </mat-chip-grid>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option
            *ngFor="let equipment of equipments"
            [value]="equipment.id"
        >
            ({{ equipment.code }}) {{ equipment.description }}
        </mat-option>
    </mat-autocomplete>

    <!--    <mat-label>{{ name | titlecase }}</mat-label>-->
    <!--    <input-->
    <!--        matInput-->
    <!--        [type]="type"-->
    <!--        [name]="name"-->
    <!--        [value]="value"-->
    <!--        (input)="onInput($event)"-->
    <!--        [autocomplete]="autocomplete"-->
    <!--        [matAutocomplete]="matAuto"-->
    <!--    >-->

</mat-form-field>
