<div class="home">

    <div class="filter-container">
        <app-filter></app-filter>
        <app-intro></app-intro>
    </div>

    <div class="car-container">
        <ng-container *ngIf="carThumbnailsLoading$ | async">
            <div class="skeleton-card" *ngFor="let item of [1,2,3,4]"></div>
        </ng-container>

        <ng-container *ngIf="carThumbnails$ | async as carThumbnails">
            <app-car-card
                (cardClicked)="onCardClicked($event)"
                *ngFor="let carInfo of carThumbnails; trackBy: trackByCarId"
                [car]="carInfo"
            />
            <p *ngIf="carThumbnails !== null && carThumbnails.length === 0">No cars in the result</p>
        </ng-container>
    </div>

</div>
