<div class="home">

    <div class="filter-container">
        <app-filter></app-filter>
    </div>

    <div *ngIf="carThumbnails$ | async as carThumbnails" class="car-container">
        <app-car-card
            (cardClicked)="onCardClicked($event)"
            *ngFor="let carInfo of carThumbnails; trackBy: trackByCarId"
            [car]="carInfo"
        />
        <p *ngIf="carThumbnails === null && carThumbnailsLoading">Loading car infos...</p>
        <p *ngIf="carThumbnails !== null && carThumbnails.length === 0">No cars in the result</p>
    </div>

</div>
