.home {
    align-items: start;
    display: flex;
    justify-content: center;
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
}

.filter-container {
    min-width: 20%;
}

.car-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
