<form
    (ngSubmit)="onSubmit()"
    [formGroup]="signupForm"
>
    <app-input
        formControlName="username"
        name="username"
    />
    <app-input
        formControlName="email"
        name="email"
    />
    <app-input
        autocomplete="new-password"
        formControlName="password"
        name="password"
        type="password"
    />
    <app-input
        autocomplete="new-password"
        formControlName="verifyPassword"
        name="verify password"
        type="password"
    />
    <button
        mat-flat-button
        type="submit"
    >Create account
    </button>
</form>
