:host {
    width: 500px;

    .car-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        padding: 20px;
        cursor: pointer;
    }

    .card-header {
        display: flex;
        align-items: start;

        img {
            border-radius: 5px;
            width: 200px;
            object-fit: cover; /* Ensure the image covers the area without distortion */
            aspect-ratio: 16 / 9; /* Optional: Maintain a consistent aspect ratio */
        }

        .title {
            margin-left: 5%;

            h3 {
                margin-bottom: 5px;
                margin-top: 0;
            }

            .subtitle {
                margin-bottom: 3px;
                font-size: 0.8em;
            }
        }
    }

    .card-footer {
        display: flex;
        justify-content: end;
    }
}

@media (max-width: 1064px) {
    :host {
        width: unset;

        .car-card {
            min-width: unset;
        }

        .card-header {
            flex-direction: column;
            margin-bottom: 20px;

            img {
                margin-bottom: 20px;
            }

            .title {
                margin-left: 0;
            }
        }

        .card-footer {
            justify-content: center;
        }
    }
}
