<mat-card class="car-card" *ngIf="car">
    <mat-card-header>
        <mat-card-title>{{ car.name }}</mat-card-title>
        <mat-card-subtitle>{{ car.productionDate | date }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image ngSrc="assets/images/bmw-f11.jpeg" alt="{{ car.name }}" [height]="256" [width]="256">
    <mat-card-content>
        <p>{{ car.color }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" (click)="viewCarDetails(car.carId)">View Details</button>
    </mat-card-actions>
</mat-card>
