.car-card {
    display: flex;
    flex-direction: column;
    max-width: 400px; /* Keep your max-width if needed */
    height: 100%;
    justify-content: space-between;
}

.mat-mdc-card-image {
    width: 80%;
    margin: 20px auto;
    object-fit: cover; /* Ensure the image covers the area without distortion */
    aspect-ratio: 16 / 9; /* Optional: Maintain a consistent aspect ratio */
}

.mat-mdc-card-actions {
    display: flex;
    justify-content: flex-end;
}
