<mat-card class="card" appearance="outlined">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{ carInfo?.name }}</mat-card-title>
            <!-- Todo: show the date in the correct local format (e.g. using Pipes)-->
            <mat-card-subtitle>{{ carInfo?.productionDate }}</mat-card-subtitle>
            <img
                mat-card-md-image
                ngSrc="assets/images/bmw-f11.jpeg"
                alt="Silhouette of BMW F11"
                height="2048"
                width="2048"
            />
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        {{ carInfo?.color }}
    </mat-card-content>
</mat-card>
